<%- include('../partials/header') %>

<%- include('../partials/navbar') %>

<div class="dropdown text-center mt-1">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Vyber lekci
  </button>
  <button class="btn btn-secondary" id="showAllIrregular">Ukaž vše</button>

  <!-- 
    Create DropdownMenu
    *its sorted alphabetically by 10 words for 1 menu folder
  -->
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

   <% let createGerDropdownMenu = () => { %>
    <% for(let i=1; i<=160; i+=10){ %>
      <li class="p-1"><a class="dropdown-item" href="#"><%= i %>-<%= i+9%></a></li>
    <% } %>
    <% } %>

    <%= createGerDropdownMenu() %>

    <li class="p-1"><a class="dropdown-item" href="#">160-173</a></li>

    
  </ul>
</div>



<section class=" text-light mt-1">
    <div class="container">
        
  
  <!-- -----------------------
    CREATE ALLMIGHTY CAROUSEL 
  ------------------------- -->           

<% const deVerben = unregelmassigeVerben.verben; %>

<% let createCarousels = (x, y, verb) => { %>

  
  <% /*CREATE CARD TITLE */ %>
  <%const focus = (data, sign) => { %>
    <%= data?data:null %>
    <% } %>

  <% /*CREATE  TRANSLATION Li Elements */ %>
  <% const focus2=(data, definition) => { %>
    <% if(data) { %>
      
        <li class="list-group-item hideMobile"><%=definition%></li>
        <li class="list-group-item"><input class="input_Text" placeholder="<%=definition%>"data-verb="<%= data %>" type="text"></li>

    <% } %>
  <% } %>


<div class="row mb-1 hideJQ">
  <div class="cover ">
    <div id="carouselExampleControls<%= y %>" class="carousel slide text-primary p-5    d-flex align-items-center justify-content-center " data-bs-interval="false"   style="height: 90vh;">

  

    <div class="carousel-inner ">
      <div class="carousel-item active ">

        
        <div class="text-center">
          <h1 class="total-score">Unregelmäßige Verben Übung: <%=x%> - <%=y%></h1>
        </div>

      </div>


    
    <%  for (let index = x; index <= y; index++) { %>

      <div class="carousel-item">

          <h1 class="text-center">Slovo #<%=index%></h1>

            <div class="card cardIrr text-center" style="width: 18rem; margin: 0 auto;" id="<%= verb[index].cz %>">
                <div class="card-header">
                  <h3 class=" text-primary mb-1"><%= verb[index].cz %>
                  
                  <%focus(verb[index].cz2, "- ")%>
                  </h3>
                
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Celkové skóre: <span class="totalScore"></span></li>
              <li class="list-group-item d-flex justify-content-around text-success fw-bold">
                <span class="iconSpan">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                  </svg>
                </span>
                <span class="scoreSpan">Správně 0</span>
              </li>
             
                  <%= focus2(verb[index].infinitive, "Infinitive:") %>
                  <%= focus2(verb[index].pastTense, "Präteritum:")%>
                  <%= focus2(verb[index].pastTense2, "Präteritum 2:") %>
                  <%= focus2(verb[index].presentPerfect, "Perfektum:")%>
                  <%= focus2(verb[index].presentPerfect2, "Perfektum 2:") %>

                <li class="list-group-item">Správná odpověď:</li>
                <li class="list-group-item answerCard">
                  <%= verb[index].infinitive %> 
                  <%= verb[index].pastTense %> 

                  <%=focus(verb[index].pastTense2)%>
                  <%= verb[index].presentPerfect %>
                  <%=focus(verb[index].presentPerfect2)%>

                </li>
            </ul>
          </div>
        </div>

       <% } %>
    </div>


        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= y %>" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= y %>" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
  </div>
  
  <% } %>

<!--
  FUNCTION CREATES CAROUSEL FOR 10 WORDS FROM JSON FILE
  *FROM 0 TO 10, 11-20, 21-30 ETC...
-->

  <% createCarousels(0, 10, deVerben) %>
  <% createCarousels(11, 20, deVerben) %>
  <% createCarousels(21, 30, deVerben) %>
  <% createCarousels(31, 40, deVerben) %>
  <% createCarousels(41, 50, deVerben) %>
  <% createCarousels(51, 60, deVerben) %>
  <% createCarousels(61, 70, deVerben) %>
  <% createCarousels(71, 80, deVerben) %>
  <% createCarousels(81, 90, deVerben) %>
  <% createCarousels(91, 100, deVerben) %>
  <% createCarousels(101, 110, deVerben) %>
  <% createCarousels(111, 120, deVerben) %>
  <% createCarousels(121, 130, deVerben) %>
  <% createCarousels(131, 140, deVerben) %>
  <% createCarousels(141, 150, deVerben) %>
  <% createCarousels(151, 160, deVerben) %>
  <% createCarousels(161, 173, deVerben) %>



    </div>
</section>



<%- include('../partials/footer') %>

