<%- include('../partials/header') %>

<%- include('../partials/navbar') %>




<% const wortschatz50 = wortschatz1.wortschatz1%>
<% const wortschatz100 = wortschatz1.wortschatz2%>
<% const wortschatz150 = wortschatz1.wortschatz3%>
<% const wortschatz200 = wortschatz1.wortschatz4%>
<% const wortschatz250 = wortschatz1.wortschatz5%>
<% const wortschatz300 = wortschatz1.wortschatz6%>
<% const wortschatz350 = wortschatz1.wortschatz7%>
<% const wortschatz400 = wortschatz1.wortschatz8%>
<% const wortschatz450 = wortschatz1.wortschatz9%>
<% const wortschatz500 = wortschatz1.wortschatz10%>
<% const wortschatz550 = wortschatz1.wortschatz11%>
<% const wortschatz600 = wortschatz1.wortschatz12%>
<% const wortschatz650 = wortschatz1.wortschatz13%>
<% const wortschatz700 = wortschatz1.wortschatz14%>
<% const wortschatz750 = wortschatz1.wortschatz15%>
<% const wortschatz800 = wortschatz1.wortschatz16%>
<% const wortschatz850 = wortschatz1.wortschatz17%>
<% const wortschatz900 = wortschatz1.wortschatz18%>
<% const wortschatz950 = wortschatz1.wortschatz19%>
<% const wortschatz1000 = wortschatz1.wortschatz20%>
<% const wortschatz1050 = wortschatz1.wortschatz21%>
<% const wortschatz1100 = wortschatz1.wortschatz22%>



<section class="mb-5">
<div class="dropdown text-center mt-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Vyber lekci
  </button>
  <button class="btn btn-secondary" id="showAllIrregular">Ukaž vše</button>
 



  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

    
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 1-50</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 51-100</a></li>
  </li>
  <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 101-150</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 151-200</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 201-250</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 251-300</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 301-350</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 351-400</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 401-450</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 451-500</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 501-550</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 551-600</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 601-650</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 651-700</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 701-750</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 751-800</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 801-850</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 851-900</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 901-950</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 951-1000</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">Slovíčka 1001-1050</a></li>
    </li>
    <li class="p-1"><a class="dropdown-item" href="#">1051-1100</a></li>
    

  </ul>
</div>

</section>


<section class=" text-light mt-5">
  <div class="container">

<% let giveMe50Words = (words, x) => { %>
 
    <div class="row mb-5 hideJQ">
        <div class="cover ">
       
      
      
      
      <div id="carouselExampleControls<%=x%>" class="carousel slide text-primary bg-dark p-5 d-flex align-items-center justify-content-center " data-bs-ride="false" style="height: 90vh;">
          <div class="carousel-inner ">
            <div class="carousel-item active ">
      
              
              <div class="text-center">
                <h1>Deutsch Wortschatz Übung</h1>
              </div>
      
            </div>


<% for (let index = 0; index <words.length; index++) { %>
    <div class="carousel-item">

        <h1 class="text-center">Slovo #<%=index+1%></h1>

          <div class="card cardIrr text-center" style="width: 18rem; margin: 0 auto;" id="<%= words[index].cz %>">
              <div class="card-header">
                <h3 class=" text-primary mb-1"><%=words[index].cz%></h3>
              
          </div>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">Singular:</li>
            <li class="list-group-item"><input id="slovo_ID" data-verb="<%=words[index].de%>" type="text" ></li>
            
            <% if(words[index].plural) { %>
              <li class="list-group-item">Plural:</li>
              <li class="list-group-item"><input id="slovo_ID" data-verb="<%=words[index].plural%>" type="text" ></li>
            <% } %>
            
              <li class="list-group-item">Správná odpověď:</li>
              <li class="list-group-item answerCard"><%= words[index].de%> <% if(words[index].plural) { %>
                , <%= words[index].plural%></li>
                <% } %>
        </ul>
      </div>

</div>
<% } %>




            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%=x%>" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%=x%>" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<% } %>

<% giveMe50Words(wortschatz50, 1) %>
<% giveMe50Words(wortschatz100, 2) %>
<% giveMe50Words(wortschatz150, 3) %>
<% giveMe50Words(wortschatz200, 200) %>
<% giveMe50Words(wortschatz250, 250) %>
<% giveMe50Words(wortschatz300, 300) %>
<% giveMe50Words(wortschatz350, 350) %>
<% giveMe50Words(wortschatz400, 400) %>
<% giveMe50Words(wortschatz450, 450) %>
<% giveMe50Words(wortschatz500, 500) %>
<% giveMe50Words(wortschatz550, 550) %>
<% giveMe50Words(wortschatz600, 600) %>
<% giveMe50Words(wortschatz650, 650) %>
<% giveMe50Words(wortschatz700, 700) %>
<% giveMe50Words(wortschatz750, 750) %>
<% giveMe50Words(wortschatz800, 800) %>
<% giveMe50Words(wortschatz850, 850) %>
<% giveMe50Words(wortschatz900, 900) %>
<% giveMe50Words(wortschatz950, 950) %>
<% giveMe50Words(wortschatz1000, 1000) %>
<% giveMe50Words(wortschatz1050, 1050) %>
<% giveMe50Words(wortschatz1100, 1100) %>


</div>
</section>


    

 


<%- include('../partials/footer') %>


