<%- include('../partials/header') %>

<%- include('../partials/navbar') %>

<div class="dropdown text-center mt-5">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    Vyber lekci
  </button>
  <button class="btn btn-secondary" id="showAllIrregular">Ukaž vše</button>

    <!-- 
    Create DropdownMenu
    *its sorted alphabetically by 10 words for 1 menu folder
  -->


  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

     <% let createEngDropdownMenu = () => { %>
      <% for(let i=1; i<= 121; i+=10)  {%>
        <li class="p-1"><a class="dropdown-item" href="#"><%=i%>-<%=i+9%></a></li>
      <% } %>
     <% } %>

     <%= createEngDropdownMenu() %>

     <li class="p-1"><a class="dropdown-item" href="#">131-136</a></li>

 
  </ul>
</div>



  
</div>

</section>



<section class=" text-light mt-5">
    <div class="container">
        
  
            
        

<% const Verbs = jsonData.verbs; %>

<% let createCarousels = (x, y, verben) => { %>
  
<div class="row mb-5 hideJQ">
  <div class="cover ">
 



<div id="carouselExampleControls<%= y %>" class="carousel slide text-primary p-5 d-flex align-items-center justify-content-center " data-bs-ride="false" style="height: 90vh;">
    <div class="carousel-inner ">
      <div class="carousel-item active ">

        
        <div class="text-center">
          <h1>Irregular Verbs exercise <%=x%> - <%=y%></h1>
        </div>

      </div>


    
    <%  for (let index = x; index <= y; index++) { %>

        <div class="carousel-item">

          <h1 class="text-center">Slovo #<%=index%></h1>

            <div class="card cardIrr text-center" style="width: 18rem; margin: 0 auto;" id="<%= verben[index].cz %>">
                <div class="card-header">
                  <h3 class=" text-primary mb-1"><%= verben[index].cz %></h3>
                
            </div>

            <ul class="list-group list-group-flush">
              <li class="list-group-item">Present simple:</li>
                <li class="list-group-item"><input class="input_Text" data-verb="<%= verben[index].base %>" type="text"></li>
                <li class="list-group-item">Past simple:</li>
                <li class="list-group-item"><input class="input_Text" data-verb="<%= verben[index].pastSimple %>" type="text"></li>
                <li class="list-group-item">Past participle:</li>
                <li class="list-group-item"><input class="input_Text" data-verb="<%= verben[index].pastParticiple %>" type="text" ></li>
                <li class="list-group-item">Správná odpověď:</li>
                <li class="list-group-item answerCard"><%= verben[index].base %> <%= verben[index].pastSimple %> <%= verben[index].pastParticiple %></li>
          </ul>
        </div>

  </div>

       <% } %>
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls<%= y %>" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls<%= y %>" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  </div>
  </div>
  
  <% } %>


  <!--
  FUNCTION CREATES CAROUSEL FOR 10 WORDS FROM JSON FILE
  *FROM 0 TO 10, 11-20, 21-30 ETC...
-->


  <% createCarousels(0, 10, Verbs) %>
  <% createCarousels(11, 20, Verbs) %>
  <% createCarousels(21, 30, Verbs) %>
  <% createCarousels(31, 40, Verbs) %>
  <% createCarousels(41, 50, Verbs) %>
  <% createCarousels(51, 60, Verbs) %>
  <% createCarousels(61, 70, Verbs) %>
  <% createCarousels(71, 80, Verbs) %>
  <% createCarousels(81, 90, Verbs) %>
  <% createCarousels(91, 100, Verbs) %>
  <% createCarousels(101, 110, Verbs) %>
  <% createCarousels(111, 120, Verbs) %>
  <% createCarousels(121, 130, Verbs) %>
  <% createCarousels(131, 136, Verbs) %>

    </div>
</section>



<%- include('../partials/footer') %>

